	h1 {
			padding:2px 60px;
	}
	
	#content {
		  padding: 70px;
	}
	
	#pres_space {
		padding: 70px;
	}
	
	#Documentation {
		padding: 70px;
	}
	
	html {
			scroll-padding-top: 120px;
	} 

	#proto_space {
			background-color:hsla(9, 100%, 64%, 0.1);
			border: 2px solid LightSlateGray;
			border-radius: 12px;
			padding: 30px !important;
	}
		
	#navbar-example2 {
			background-color: MistyRose !important;
	}
		
		.nav-link {
			color: black;
		}
		
		figcaption {
			font-size: small;
		}
		
		#footer {
			font-size: small;
			background-color: Gainsboro !important;
			padding: 50px;
		}
			
		header {
			position: fixed;
			width: 100%;
			top: 0;
			left: 0;
			background-color: LightPink;
		}
		
		a {
			color: gray;
		}